@media screen and (max-width: 1005px) {

    .logo h1 {
        margin-left: -30px;
        font-size: 15px;
        width: 100px;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu a {
        font-size: 10px;
        margin: 5px;
        padding: 18px 10px;
    }
    
    .section-index-resp {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-index-resp {
        height: 2270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .lancamento {
        margin-bottom: 20px;
        margin-top: -150px;
        padding-bottom: 50px;
    }

    .servicos {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 2000px;
        width: 400px;
        margin-bottom: 20px;
    }

    .card-resp {
        width: 300px !important;
        margin-bottom: 20px;
    }

    .banner img {
        /* height: 400px; */
        display: none;
    }

    #banner-resp {
        display: flex;
        width: 100%;
        height: 20%;
    }

    .box-btn a {
        font-size: 12px;
    }

    footer {
        height: 150px;
    }

    .logo-rodape {
        padding: 10px;
    }

    .logo-rodape h1 {
        font-size: 19px;
    }

    .logo-rodape p {
        font-size: 14px;
    }

    footer b {
        font-size: 12px;
    }

    /* Contatos */
    .img-resp img {
        display: block !important;
    }

    .img-sobre img {
        display: none;
    }

    .img-resp img {
        height: 200px;
        margin-left: -40px;
    }

    .pagina {
        margin-bottom: 80px;
        width: 90% !important;
    }

    .caixa h2 {
        font-size: 20px;
    }

    /* Produto */
    .foto img {
        display: none;
    }

    .foto-resp img {
        display: block !important;
        height: 300px;
        margin-bottom: 20px;
    }

    .quantidade-select {
        display: flex;
        margin-right: 10px;
    }

    /* Sacola */

    .section-sacola {
        display: inline;
    }

    .item,
    .resumo,
    .formulario {
        margin: 20px;
        padding: 10px;
        width: 90% !important;
    }

    .lados {
        display: inline !important;
    }

    .lados img {
        display: none;
    }

    .lado {
        padding: 2px 20px;
    }

    .foto-resp img {
        display: block !important;
    }

    .formulario-sacola {
        margin-top: -10px;
    }

    .formulario-sacola h2 {
        font-size: 19px;
        margin-left: 20px !important;
    }

    .formulario-sacola button {
        margin-top: 10px;
        margin-left: 40px !important;
    }

    /* Sobre */

    .img-sobre-resp img {
        display: block !important;
        height: 200px;
    }

    .box-sobre-res {
        margin: 10px !important;
    }

    /* Produtos */

    .botoes-prod-resp {
        /* border: 1px solid red; */
        margin: 15px;
    }

    #btn-p-resp {
        width: 100px !important;
    }

    .categoria-box {
        margin-left: 10px !important;
        position: absolute;
        width: 90% !important;
        height: 150px !important;
        margin: 0 !important;
    }

    /* section input[type="checkbox"]:not(:checked) ~ .box-prod-resp {
        height: 2300px !important;
    } */

    .box-prod-resp {
        margin-top: 165px;
        height: 2300px !important;
    }


}