body{
    background: #F6F6F6;
}

section{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.pagina{
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 1020px;
    font-family: "Quicksand", sans-serif;
}

.caixa{
    text-align: left;
    padding: 20px;
}

.midia{
    display: flex;
    align-items: center;
}

.midia a{
    display: inline-block;
    padding: 1px;
    text-decoration: none;
    color: black;
    padding-bottom: 2px;
}

.midia img{
    height: 20px;
    margin: 10px;
}

.linkedin a:hover{
    border-bottom: 2px dashed #4b7bd6;
    color: #4b7bd6;
    margin-top: 2px;
}

.github a:hover{
    border-bottom: 2px dashed #5f3cc8;
    color: #5f3cc8;
    margin-top: 2px;
}

.instagram a:hover {
    border-bottom: 2px dashed #ac30dc;
    color: #ac30dc;
    margin-top: 2px;
}

.img-sobre img{
    height: 400px;
}

.img-resp img{
    display: none;
}

footer{
    margin-top: 50px;
}