body{
    background: #F6F6F6;
}

section{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.pagina{
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 1020px;
    font-family: "Quicksand", sans-serif;
}

.caixa{
    text-align: left;
    padding: 20px;
}

.img-sobre img{
    height: 400px;
}

.img-sobre-resp img{
    display: none;
}

footer{
    margin-top: 50px;
}