body{
    background: #F6F6F6;
}

section{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.box{
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 1020px;
    font-family: "Quicksand", sans-serif;
}

.caixa{
    border: 1px solid red;
    text-align: left;
    padding: 20px;
}

footer{
    margin-top: 50px;
}